## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
application_df.head(25)

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
5,10556855,MINORITY ORGAN & TISSUE TRANSPLANT & EDUCATION...,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
6,10558440,FRIENDS OF ARTS COUNCIL OF GREATER DENHAM SPRI...,T3,Independent,C1000,Preservation,Trust,1,100000-499999,N,31452,1
7,10566033,ISRAEL EMERGENCY ALLIANCE,T3,Independent,C2000,Preservation,Trust,1,10M-50M,N,7508025,1
8,10570430,ARAMCO BRATS INC,T7,Independent,C1000,ProductDev,Trust,1,1-9999,N,94389,1
9,10571689,INTERNATIONAL ASSOCIATION OF FIRE FIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
10,10573059,KAI ELUA OUTRIGGER CANOE CLUB,T3,Independent,C1200,Preservation,Trust,1,25000-99999,N,69656,0
11,10575727,HERITAGE ACADEMY,T3,Independent,C2000,Preservation,Trust,1,100000-499999,N,165593,0
12,10583569,THE UNITED STATES PONY CLUBS INC,T3,CompanySponsored,C1200,Preservation,Association,1,0,N,5000,1
13,10585206,DOMINION INTERNATIONAL NETWORK OF MINISTRIES &...,T3,Independent,C2700,Preservation,Trust,1,25000-99999,N,5301,1
14,10585443,V O W FOUNDATION,T3,Independent,C1000,Preservation,Trust,1,0,N,5000,1
15,10596727,JOSEPH E PEEBLES JR FOUNDATION,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
16,10602428,WASHINGTON ASSOCIATION OF PHYSICIANS OF INDIAN...,T3,Independent,C2000,Preservation,Trust,1,0,N,5000,1
17,10603214,SAINT FRANCIS HOSPITAL SOUTH LLC,T3,Independent,C1000,Heathcare,Trust,1,50M+,N,86380556,0
18,10604986,ANCHORAGE COMMUNITY MENTAL HEALTH SERVICES,T3,CompanySponsored,C1000,Preservation,Trust,1,0,N,5000,0
19,10605038,HABITAT FOR HUMANITY INTERNATIONAL INC,T3,CompanySponsored,C1000,Preservation,Trust,1,100000-499999,N,376109,0
20,10608689,INTERNATIONAL FELINE SHOWCASE,T4,Independent,C3000,ProductDev,Trust,1,0,N,5000,1
21,10612407,METAMORPHASIS POWERHOUSE COMPANY,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
22,10614724,REACH FOR EXCELLENCE INC,T3,Independent,C7000,Preservation,Trust,1,100000-499999,N,318296,0
23,10622557,INTERNATIONAL ASSOCIATION OF LIONS CLUB,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
24,10623527,SONS OF CONFEDERATE VETERANS INC,T3,CompanySponsored,C1200,Preservation,Trust,1,0,N,5000,0

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.

application_df.drop(['EIN', 'NAME'], axis=1, inplace=True)

In [4]:
# Determine the number of unique values in each column.


application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
for col in application_df:
  print(application_df[col].unique())

['T10' 'T3' 'T5' 'T7' 'T4' 'T6' 'T2' 'T9' 'T19' 'T8' 'T13' 'T12' 'T29'
 'T25' 'T14' 'T17' 'T15']
['Independent' 'CompanySponsored' 'Family/Parent' 'National' 'Regional'
 'Other']
['C1000' 'C2000' 'C3000' 'C1200' 'C2700' 'C7000' 'C7200' 'C1700' 'C4000'
 'C7100' 'C2800' 'C6000' 'C2100' 'C1238' 'C5000' 'C7120' 'C1800' 'C4100'
 'C1400' 'C1270' 'C2300' 'C8200' 'C1500' 'C7210' 'C1300' 'C1230' 'C1280'
 'C1240' 'C2710' 'C2561' 'C1250' 'C8000' 'C1245' 'C1260' 'C1235' 'C1720'
 'C1257' 'C4500' 'C2400' 'C8210' 'C1600' 'C1278' 'C1237' 'C4120' 'C2170'
 'C1728' 'C1732' 'C2380' 'C1283' 'C1570' 'C2500' 'C1267' 'C3700' 'C1580'
 'C2570' 'C1256' 'C1236' 'C1234' 'C1246' 'C2190' 'C4200' 'C0' 'C3200'
 'C5200' 'C1370' 'C2600' 'C1248' 'C6100' 'C1820' 'C1900' 'C2150']
['ProductDev' 'Preservation' 'Heathcare' 'CommunityServ' 'Other']
['Association' 'Co-operative' 'Trust' 'Corporation']
[1 0]
['0' '1-9999' '10000-24999' '100000-499999' '10M-50M' '25000-99999' '50M+'
 '1M-5M' '5M-10M']
['N' 'Y']
[    5000   108590     6692 ...     6713    20197 36500179]
[1 0]

In [6]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

#using cutoff of 500 counts, as in example output
application_types_to_replace = ['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].unique()

array(['C1000', 'C2000', 'C3000', 'C1200', 'C2700', 'C7000', 'C7200',
       'C1700', 'C4000', 'C7100', 'C2800', 'C6000', 'C2100', 'C1238',
       'C5000', 'C7120', 'C1800', 'C4100', 'C1400', 'C1270', 'C2300',
       'C8200', 'C1500', 'C7210', 'C1300', 'C1230', 'C1280', 'C1240',
       'C2710', 'C2561', 'C1250', 'C8000', 'C1245', 'C1260', 'C1235',
       'C1720', 'C1257', 'C4500', 'C2400', 'C8210', 'C1600', 'C1278',
       'C1237', 'C4120', 'C2170', 'C1728', 'C1732', 'C2380', 'C1283',
       'C1570', 'C2500', 'C1267', 'C3700', 'C1580', 'C2570', 'C1256',
       'C1236', 'C1234', 'C1246', 'C2190', 'C4200', 'C0', 'C3200',
       'C5200', 'C1370', 'C2600', 'C1248', 'C6100', 'C1820', 'C1900',
       'C2150'], dtype=object)

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

#replacing everything but the top 5
# C1000    17326
# C2000     6074
# C1200     4837
# C3000     1918
# C2100     1883

classifications_to_replace = [ 'C2700', 'C7000', 'C7200','C1700', 'C4000', 'C7100', 'C2800', 'C6000', 'C1238',
       'C5000', 'C7120', 'C1800', 'C4100', 'C1400', 'C1270', 'C2300',
       'C8200', 'C1500', 'C7210', 'C1300', 'C1230', 'C1280', 'C1240',
       'C2710', 'C2561', 'C1250', 'C8000', 'C1245', 'C1260', 'C1235',
       'C1720', 'C1257', 'C4500', 'C2400', 'C8210', 'C1600', 'C1278',
       'C1237', 'C4120', 'C2170', 'C1728', 'C1732', 'C2380', 'C1283',
       'C1570', 'C2500', 'C1267', 'C3700', 'C1580', 'C2570', 'C1256',
       'C1236', 'C1234', 'C1246', 'C2190', 'C4200', 'C0', 'C3200',
       'C5200', 'C1370', 'C2600', 'C1248', 'C6100', 'C1820', 'C1900', 'C2150']

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies_df = pd.get_dummies(application_df)

In [12]:
dummies_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
34295,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
34296,1,5000,0,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34297,1,5000,1,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
34298,1,36500179,0,False,False,False,True,False,False,False,...,False,False,False,False,True,False,False,False,True,False

In [13]:
# Split our preprocessed data into our features and target arrays

target = application_df['IS_SUCCESSFUL']

features = dummies_df.copy()
features.drop('IS_SUCCESSFUL', inplace=True, axis=1)


# Split the preprocessed data into a training and testing dataset
X = features
y = target

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [15]:
input_dim = X_train_scaled.shape[1]

## Compile, Train and Evaluate the Model

In [16]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.


nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=1, activation='relu', input_dim=input_dim))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=20, activation='relu'))




# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 1)                 44

 dense_1 (Dense)             (None, 20)                40

 dense_2 (Dense)             (None, 1)                 21

=================================================================
Total params: 105 (420.00 Byte)
Trainable params: 105 (420.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [17]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [18]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 3ms/step - loss: 0.6762 - accuracy: 0.6471
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6464 - accuracy: 0.6586
Epoch 3/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6309 - accuracy: 0.6641
Epoch 4/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6236 - accuracy: 0.6661
Epoch 5/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6198 - accuracy: 0.6629
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6174 - accuracy: 0.6646
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6158 - accuracy: 0.6633
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6147 - accuracy: 0.6643
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6142 - accuracy: 0.6626
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6134 - accuracy: 0.6623
Epoch 11/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6128 - accuracy: 0.6645
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6123 - accuracy: 0.6649
Epoch 13/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6117 - accuracy: 0.6637
Epoch 14/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6116 - accuracy: 0.6626
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6112 - accuracy: 0.6640
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6113 - accuracy: 0.6649
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6109 - accuracy: 0.6623
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6101 - accuracy: 0.6654
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6102 - accuracy: 0.6647
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6098 - accuracy: 0.6646
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6095 - accuracy: 0.6653
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6098 - accuracy: 0.6650
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6093 - accuracy: 0.6668
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6101 - accuracy: 0.6658
Epoch 25/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6090 - accuracy: 0.6653
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6090 - accuracy: 0.6633
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6091 - accuracy: 0.6661
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6088 - accuracy: 0.6659
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6088 - accuracy: 0.6679
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6084 - accuracy: 0.6657
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6082 - accuracy: 0.6678
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6086 - accuracy: 0.6644
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6077 - accuracy: 0.6656
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6080 - accuracy: 0.6657
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6081 - accuracy: 0.6655
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6079 - accuracy: 0.6661
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6082 - accuracy: 0.6672
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6079 - accuracy: 0.6657
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6078 - accuracy: 0.6678
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6078 - accuracy: 0.6653
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6077 - accuracy: 0.6662
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6076 - accuracy: 0.6655
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6072 - accuracy: 0.6668
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6075 - accuracy: 0.6683
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6073 - accuracy: 0.6677
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6073 - accuracy: 0.6671
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6071 - accuracy: 0.6671
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6072 - accuracy: 0.6680
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6079 - accuracy: 0.6663
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6070 - accuracy: 0.6656
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6072 - accuracy: 0.6698
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6068 - accuracy: 0.6652
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6068 - accuracy: 0.6655
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6070 - accuracy: 0.6689
Epoch 55/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6067 - accuracy: 0.6672
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6066 - accuracy: 0.6673
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6068 - accuracy: 0.6671
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6068 - accuracy: 0.6698
Epoch 59/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6067 - accuracy: 0.6671
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6068 - accuracy: 0.6653
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6067 - accuracy: 0.6679
Epoch 62/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6065 - accuracy: 0.6657
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6063 - accuracy: 0.6676
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6066 - accuracy: 0.6691
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6064 - accuracy: 0.6668
Epoch 66/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6068 - accuracy: 0.6660
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6066 - accuracy: 0.6717
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6064 - accuracy: 0.6681
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6067 - accuracy: 0.6688
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6065 - accuracy: 0.6696
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6061 - accuracy: 0.6679
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6067 - accuracy: 0.6671
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6063 - accuracy: 0.6673
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6061 - accuracy: 0.6694
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6062 - accuracy: 0.6676
Epoch 76/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6063 - accuracy: 0.6680
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6063 - accuracy: 0.6681
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6063 - accuracy: 0.6677
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6061 - accuracy: 0.6682
Epoch 80/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6058 - accuracy: 0.6678
Epoch 81/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6067 - accuracy: 0.6689
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6060 - accuracy: 0.6674
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6060 - accuracy: 0.6691
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6060 - accuracy: 0.6675
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6060 - accuracy: 0.6681
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6064 - accuracy: 0.6667
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6063 - accuracy: 0.6696
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6059 - accuracy: 0.6686
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6063 - accuracy: 0.6685
Epoch 90/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6056 - accuracy: 0.6692
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6052 - accuracy: 0.6688
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6059 - accuracy: 0.6701
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6064 - accuracy: 0.6710
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6054 - accuracy: 0.6688
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6062 - accuracy: 0.6693
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6058 - accuracy: 0.6694
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6059 - accuracy: 0.6683
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6059 - accuracy: 0.6691
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6059 - accuracy: 0.6682
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6058 - accuracy: 0.6691

In [19]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.6156 - accuracy: 0.6529 - 444ms/epoch - 2ms/step
Loss: 0.6156486868858337, Accuracy: 0.6529446244239807

In [20]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity.h5')

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(